@import "tailwindcss";
@import "tailwindcss/preflight";



@theme {
  
  --color-primary: #ffd300;
  --color-primaryDark: #fec20c;
  --color-lightOrange: #fcefb4;
  --color-darkGray: #1a1f25;
  --color-lightGray: #272c35; 


}

.img-shadow {
  filter: drop-shadow(40px 50px 25px #0f1115);
  }
.img-shadow2 {
  filter: drop-shadow(10px 30px 15px #3030307a);
  }


@utility container{
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;

  @media(min-width: 640px){
    padding-inline: 2rem;
  }
}


@layer components {
   .input-style {
    @apply px-4 py-2 border-[1px] border-gray-400 rounded-md;
  }
  .primary-btn {
    @apply bg-primary text-white px-4 py-2 rounded-md hover:bg-primaryDark duration-200;
  }
  .custom-container {
      width: 100%;
      max-width: 1200px;
      margin-inline: auto;
      padding-inline: 16px;
  }

    @media (min-width: 768px) {
        .custom-container {
            padding-inline: 32px;
        }
    }
}